const apiUrl = "https://api.ouranos-ws.example.com/api";
const dataModelsUrl = "https://data-models.ouranos-ws.example.com/data-models";
const enabledModules = "i4trust";
const identityManagerAuthorizeUrl = "http://idm.example.com/oauth2/authorize";
const identityManagerRedirectUri = "http://app.ouranos-ws.example.com/callbacks/authentication";
const identityManagerClientId = "00000000-0000-0000-0000-000000000000";
const googleMapsApiKey = "000000000000000000000000000000000000000";
const googleServiceAccount = "ouranos-ws@example.iam.gserviceaccount.com ";

export { apiUrl, dataModelsUrl, enabledModules, identityManagerAuthorizeUrl, identityManagerRedirectUri, identityManagerClientId, googleMapsApiKey, googleServiceAccount };
